{% load static %}
<!DOCTYPE html>
<html>
<head>
	<!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'forum/main.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Pacifico&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">


	<title>{%block title%}LoneStarConnect{%endblock%}</title>
      {%include "includes/header.html"%}

</head>

<body>
        <main role="main" class="container main">
            <div class="welcome-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
                <h1 class="display-4">LoneStarConnect</h1>
                <p class="lead">Welcome to LoneStarConnect</p>
            </div>
          <div class="row">
            <div class="col-md-8">
                {%if messages%}
                {%for message in messages%}
                    <div class="alert alert-{{message.tags}}">
                        {{message}}
                    </div>
                {% endfor %}
                {%endif %}
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                     {% block breadcrumb %}
                     {% endblock %}
                    </ol>
                </nav>

                    <form method='GET' class = "mx-2 my-3">
                    <input class="form-control" type="text" name='q' placeholder="Search" aria-label="Search">
                    </form>


              {% block content %}
              {% endblock %}
            </div>
            <div class="col-md-4">
              <div class="content-section">

                  <ul class="list-group">
                    <li class="list-group-item list-group-item-light">Latest Posts</li>
                    <li class="list-group-item list-group-item-light">Announcements</li>
                    <li class="list-group-item list-group-item-light">Events</li>
                    <li class="list-group-item list-group-item-light">Trending</li>
                    <li class="list-group-item list-group-item-light">Twitter</li>
                    <li class="list-group-item list-group-item-light">Facebook</li>
                    <li class="list-group-item list-group-item-light">Support</li>
                    <li class="list-group-item list-group-item-light">Ads</li>
                  </ul>
                </p>
              </div>
            </div>
          </div>

        </main>
        {%include "includes/footer.html"%}
</body>
</html>
