
	{%extends "forum/base.html"%}

			{%block breadcrumb%}
				<li class="breadcrumb-item"><a href="#">Home</a></li>
			{%endblock %}
			{%block content%}
			<table class='table'>
				<thead>
					<tr>
						<th>Categories</th>
						<th>Thread</th>
						<th>Posts</th>
						<th>Last Post</th>
					</tr>
				</thead>
				<tbody>
					{%for board in boards%}
					<tr>
						<td>
							<a href="{% url 'forum-topic' board.pk %}">{{board.name}}</a>
							<small class= 'text-muted d-block'>{{board.description}}</small>
						</td>
						<td class='align-middle'>{{board.get_posts_count}}</td>
						<td class='align-middle'>{{board.thread.count}}</td>
						<td class='align-middle'>
							{% with post=board.get_last_post %}
								{% if post %}
									<small>
										<a href="{% url 'thread_post' board.pk post.thread.pk %}">
										By {{post.created_by.username}} at {{post.created_at}}
										</a>
									</small>
								{% else %}
									<small class="text-muted">
										<em>No posts yet.</em>
									</small>
								{% endif %}
							{% endwith %}
						</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
	{%endblock content%}
