{%extends "forum/base.html"%}

        {%block breadcrumb%}
            <li class="breadcrumb-item"><a href="#">Home</a></li>
        {%endblock %}
        {%block content%}

                <div class="card mb-5">
                    <div class="card-header">
                        <h3 class= "navbar-brand">Categories</h3>
                    </div>
                    <section>
                        <div class="card-body">
                            <ul class="list-inline">
                            {%for board in boards%}
                            <li class="article-title list-inline-item" ><a href="{% url 'forum-topic' board.pk %}">{{board.name}}</a></li>
                            {% endfor %}
                            </ul>
                        <div>
                    </section>
                </div>
                <div class="card">
                    <div class="card-header">
                        <h3 class= "navbar-brand">Topics</h3>
                    </div>
                    <div class="card-body">
                        <ul class="list-inline">
                            {% if topic %}
                                {%for thread in topic%}
                                <li class="text-center" ><a href="{% url 'thread_post' thread.forum.pk thread.pk  %}">{{thread.title}}</a></li>
                                {% endfor %}
                            {%else%}
                                <li class="text-center text-muted" >There were no results matching your search:{{query}}</a></li>
                            {% endif %}

                        </ul>
                    </div>
                </div>

                {%include "includes/piginator_fun.html"%}
                <style media="screen">
                    section {overflow: hidden; margin: 1em; }
                    section ul { list-style: none; padding: 0; margin-left: -4px; }
                    section ul li { display: inline; white-space: nowrap; }
                    section ul li:before { content: " | "; }
                </style>
{%endblock content%}
