{%extends "forum/base.html"%}
{%block content%}
    <div class="content-section">
        <form method="post">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class=border-bottom mb-4">Delete Post</legend>
                    <h2>Are you sure you want to delete the post {{post.title}}</h2>
            </fieldset>
                <button class="btn btn-outline-danger" type= "submit">yes,delete</button>
                <a href="{% url 'thread_post' post.thread.forum.pk post.thread.pk%}" class="btn btn-outline-secondary">Cancel</a>
            </form>
    </div>
{%endblock content%}
