
	{%extends "forum/base.html"%}

            {%block title%}
                {{board.name}} - {{block.super}}
            {%endblock %}
			{%block breadcrumb%}
					<li class="breadcrumb-item"><a href="{% url 'forum-home' %}">Home</a></li>
                    <li class="breadcrumb-item"><a href="{% url 'forum-topic' board.pk %}">{{board.name}}</a></li>
			{%endblock breadcrumb%}
            {%block content%}
			<table class='table'>
				<thead>
					<tr>
						<th>Categories</th>
						<th>Thread</th>
						<th>Posts</th>
						<th>Last Post</th>
					</tr>
				</thead>
				<tbody>
					{%for post in boards%}
					<tr>
						<td>
							{{post.name}}
							<small class= 'text-muted d-block'>{{post.description}}</small>
						</td>
						<td>0</td>
						<td>0</td>
						<td>0</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
	{%endblock content%}
